# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
!*.tfvars.example
crash.log
crash.*.log
.terraformrc
terraform.rc
.terraform.lock.hcl
plan.out
*.tfplan

# Editor
.vscode/*
!.vscode/extensions.json
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Secrets
*.pem
*.key
secrets/
.secrets/

# K8s
kubeconfig
*.kubeconfig
